.carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;
}

.carousel__item {
    flex: 25%;
}

// @media (max-width: 991px) {
//     .carousel {
//        flex-wrap: wrap;
//        text-align: center;
//     }
//     .carousel-item {
//         padding: 20px 0px;
//     }
// }

// @media (max-width: 767px) {
//     .carousel {
//         flex-wrap: wrap;
//         text-align: center;
//     }
//     .carousel-item {
//         flex: 30%;
//         padding: 20px;
//     }
// }

// @media (max-width: 575px) {
//     .carousel {
//         flex-wrap: wrap;
//         justify-content: center;
//     }
//     .carousel-item {
//         flex: 50%;
//         padding: 20px;
//     }
// }
