.section{
    position: relative;
    z-index: 5;
    background-size: cover;
    background-position: 50%;
    padding-top: 95px;
}

.section-grid {
    padding-top: 45px;
    padding-bottom: 70px;
}