.list-img {
    display: block;
    position: relative;
    transition: all 0.3s;
    transform: scale(1);
    img {
        display: block;
        margin: 0 auto;
    }
}

@media (min-width:1023px) {
    .list-img:hover {
        transform: scale(0.9);
    }
    .list-img:hover {
    
        .overlay-img {
        visibility: visible;
        opacity: 1;
        z-index: 999;
        transform: scale(1);
        }
        .view {
            visibility: visible;
            opacity: 1;
            z-index: 999;
        }
    }
}

