.logo {
    display: inline-block;
    flex: 50%;
    img {
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .logo img {
        width: 65%;
    }
}

//mobile
@media(max-width: 575px) {
    .logo img{
        width: 60%;
    }
}
