.popular__post {
    padding: 15px 0;
}

@media (max-width: 768px) {
    .popular__post {
        text-align: center;
    }
}
.popular__img {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    img {
        display: block;
        border-radius: 50%;
    }
}

.popular__detail {
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle;
}