.social {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 575px) {
    .social {
        flex-direction: column;
        align-items: center;
        margin-top: -30px;
    }
    .social__link {
        padding-bottom: 10px;
        font-size: 12px;
    }
}

.social__link {
    text-decoration: none;
    &:hover .social__name{
        color: #f5f5f5;
    }
    &:hover .social__link{
        color: #f5f5f5;
    }
}

.social__link::before {
    content: "[";
    margin-right: 9px;
    font-size: 14px;
    color: #a4a9ae;
}

.social__link::after {
    content: "]";
    margin-left: 9px;
    font-size: 14px;
    color: #a4a9ae;
}

.social__name::before {
    content: ".";
    margin-right: 4px;
    color: #a4a9ae;
}
.social__name {
    display: inline;
    color: #a4a9ae;
    margin-left: 5px;
    @extend %font;
}

.fb {
    color: #325d94; 
}
 
.insta {
    color: #00aadb; 
}
 
.tw {
    color: #d96f6f; 
}

.ptr {
    color: #2f4e6b; 
}

.social-icon {
    margin-top: 8px;
    a {
        display: inline-block;
        padding: 10px;
    }
}
