.divider {
    width: 62px;
    height: 18px;
    background-color: #d8dce0;
    border: 0;
    margin-top: 11px;
}

.divider-solid {
    width: 44px;
    background-color: #a9a9a9;
    height: 1px;
}

.divider-hr {
    width: 100%;
    background-color: #e9ecef;
    height: 1px;
    border: 0;
}
