.divider {
    width: 62px;
    height: 18px;
    background-color: #d8dce0;
    border: 0;
    margin: 0 auto;
    margin-top: 15px !important;
}

.divider-solid {
    width: 44px;
    background-color: #a9a9a9;
    height: 1px;
}

.divider-hr {
    width: 100%;
    background-color: #e9ecef;
    height: 1px;
    border: 0;
}

.divider-item {
    width: 32px;
    height: 2px;
    background-color: #e9ecef;
    border: 0;
    margin: 0;
}

.divider-nav-mobile {
    height: 1px;
    width: 100%;
    color: #ffffff;
    margin: 0;
    position: relative;
    top: 40px;
}
