*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}