.padding-item {
    padding: 25px 0;
}

.mt-25 {
    margin-top: 25px;
}

.mt-46 {
    margin-top: 46px;
}

.mt-12 {
    margin-top: 12px;
}

.mt-91 {
    margin-top: 91px;
}

.mt-115 {
    margin-top: 115px;
}

.pt-115 {
    padding-top: 115px !important;
}

.pb-123 {
    padding-bottom: 123px;
}

.pb-105 {
    padding-bottom: 104px !important;
}
.pt-74 {
    padding-top: 74px !important;
}

.mt-48 {
    margin-top: 48px;
}

.mt-50 {
    margin-top: 50px;
}

.pt-142 {
    padding-top: 142px;
}

.pt-31 {
    padding-top: 31px;
}

.pt-29 {
    padding-top: 29px;
}

.mb-13 {
    margin-bottom: 13px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-9 {
    margin-top: -9px;
}

.pr-30 {
    padding-right: 30px;
}

.pt-170 {
    padding-top: 170px !important;  
}

.pt-59 {
    padding-top: 59px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-48 {
    padding-top: 48px;
}

.pt-52 {
    padding-top: 52px;
}

.pt-45 {
    padding-top: 48px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-58 {
    padding-bottom: 58px;
}

.pb-14 {
    padding-bottom: 14px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-75 {
    padding-bottom: 75px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-154 {
    padding-bottom: 154px;
}
.ptb-15 {
    padding: 15px 0;
}

.ptb-5 {
    padding: 5px 0 !important;
}

.tx-center {
    text-align: center;
}

.white-cl {
    color: var(--white-color) !important;
}

.tx-color {
    color: #ccbfa6;
    display: inline;
}

.center {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
