:root {
    --hover-color: #ccbfa6;
    --nav-color: #f5f5f5;
    --bg-color: #2f3238;
    --title-color: #2f3238;
    --tx-color: #7f8083;
    --light-color: #e9ecef;
    --white-color: #ffffff;
}

$title-color: #2f3238;
$font-Poppins: 'Poppins', sans-serif;
$poppins-w: 400;
$poppins-l: 300;

%font {
    font-family: $font-Poppins;
    font-weight: 400;    
}

$font-Playfair : 'Playfair Display', sans-serif;



